*{
    margin: 0;
    padding: 0;
    background-image: url(Media/Background.jpg)
}

.nav {
    display: flex;
    background-color: #141414;
    height: 50px;
    justify-content: space-around;
    font-family: Arial, sans-serif;
}

.nav h1 a{
    color:blue;
    text-decoration: none;
    line-height: 50px;
}

.nav ul {
    list-style: none;
}

.nav li {
    float: left;
}

.nav li a {
    color: whitesmoke;
    text-decoration: none;
    line-height: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    transition: 0.25s ease;
}

.nav li a:hover {
    color:blue;
    transition: 0.25s ease;
}


.picture {
    position: absolute;
    left: 20%;
    top: 40%;
    margin-left: -100px;
}

.picture img {
    width: 400px;

    border-radius: 5px;
}

.picture img:hover{
    transform: scale(2.1);
    transition: 0.3s ease-out;
    box-shadow: lightgrey 10px 20px 20px;
}

.rightside{
    width:30%;
    float:right;
    margin-bottom: 0.4%;
}

.rightside p{
    margin-top: 100px;
    right: 10%;
    font-size: 2vw;
}